.board-show-bg {
  background-image: url("http://res.cloudinary.com/nwilliams770/image/upload/v1511852310/index_background_lar2sa.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  bottom:0;
  margin: auto;
  z-index: -3;
}

.lists-list {
  flex-direction: row;
  display: flex;
  overflow: scroll;
  height: Calc(100vh - 90px);
}

.list-header {
  padding-left: 10px;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.list-header-container {
  width: 270px;
}

.list-item-main {
  margin-left: 20px ;
  margin-top: 25px;
  overflow: scroll;
  width: 270px;
  background-color: #016283;
  min-height: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
}

.card-item {
  margin-top: 10px;
  width: 250px;
  min-height: 35px;
  background-color: #96c4d2;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  padding-left: 8px;
  font-size: 15px;
}
