.entire-toolbar {
  position: absolute;
  z-index: 30;
}

.bg-box2 {
  background-image: url("http://res.cloudinary.com/nwilliams770/image/upload/v1511852310/index_background_lar2sa.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  bottom:0;
  margin: auto;
  z-index: -3;
}

.personal-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  width: 200px;
  justify-content: center;
  height: 40px;
  position: relative;
  z-index: -1;
  border-radius: 3px;
}

.personal-header-bg {
  background-color: #002841;
  opacity: 0.8;
  margin-left: 80px;
  margin-top: 40px;
  width: 200px;
  height: 40px;
  z-index: -1;
  border-radius: 3px;
  position: relative;
}


.shared-boards {
  margin-top: 50px;
}

.shared-header-bg {
  margin-left: 80px;
  background-color: #002841;
  opacity: 0.8;
  width: 200px;
  height: 40px;
  z-index: -1;
  border-radius: 3px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}
.shared-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.boards-header {
  margin-left: 20px;
  font-weight: 900;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  z-index: 3;
  position: relative;
}
.personal-icon {
  color: white;
}

.boards-list-container {
  margin-left: 60px;
  margin-top: -10px;
}

.boards-list {
  display: flex;
  flex-flow: wrap;
}

.boards-list-item {
  margin-left: 20px;
  margin-top: 25px;
}

.boards-list-item-button {
  width: 300px;
  height: 100px;
  border: 0;
  background: #016283;
  display: flex;
}

.boards-list-item-button:focus {
  outline: 0;
}

.boards-list-item-button:hover {
  background: #1e91bb;
  transition: all 0.3s ease-in-out;
}



.boards-name {
  font-weight: 900;
  letter-spacing: -.5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: flex;
  margin-top: -43px;

}

.boards-list-item-link {
  text-decoration: none;
}
