.boards-dropdown-container {
  width: 280px;
  height: 200px;
  background-color: #016283;
  position: absolute;
  top: 38px;
  z-index: 30;
  left: 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.boards-dropdown-main {
  position: relative;
  z-index: 30;
  background: #016283;
  border-radius: 4px;
}

.boards-dropdown-header {
  margin-left: 10px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  z-index: 3;
  position: relative;
}

.personal-boards-dropdown {
  display: flex;
  align-items: center;
  padding: 10px;
}

.shared-boards-dropdown {
  display: flex;
  align-items: center;
  padding: 10px;
}

.dropdown-icon {
  color: white;
}

.boards-dropdown-list {
  margin-left: 35px;
}

.boards-dropdown-item {
  width: 245px;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  letter-spacing: 0.75px;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}

.boards-item-link {
  text-decoration: none;
}

.boards-dropdown-item:hover {
  width: 219px;
  border-left: 22px solid #96c4d2;
  padding-left: 4px;
  background-color: #002841;
  transition: all 0.3s ease-in-out;
  padding-top: 3px;
  padding-bottom: 3px;
}

.boards-button {
  text-decoration: none;
}

.boards-button:hover {
  background-color: #003a5e;
  transition: all .3s ease-in-out;
}

.boards-button:focus {
  outline: 0;
  text-decoration: none;
}
