.board-form-container {
  height: 200px;
  width: 300px;
  background: #1e91bb;
  display: flex;
  flex-direction: column;
  transition: 0.3s opacity ease-in-out;
  margin-top: -100px;
  margin-left: 20px;
  position: relative;
  z-index: 2;
  align-items: center;
  border-radius: 4px;
}
//
// .hide {
//   height: 0;
//   overflow: hidden;
// }

.create-board {
  margin-left: 20px;
  margin-top: 25px;
}

.create-board-button {
  width: 300px;
  height: 100px;
  border: 0;
  background: #8aabb5;
  display: flex;
  justify-content: center;
  opacity: 0.65;
}

.create-board-button:focus {
  outline: 0;
}

.create-board-button:hover {
  transition: all 0.3 ease-in-out;
  background-color: #96c4d2;
  opacity: 0.80
}

.create-board-copy {
  font-weight: 400;
  letter-spacing: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  display: flex;
  color: white;
  z-index: 0;
}

.board-form-header-copy {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  margin-left: 24px;
  color: white;
}

.board-form-header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
}

.form-exit-button {
  outline: 0;
  border: 0;
  background: 0;
  position: relative;
  right: -80px;
  top: -2px;
}

.form-exit-button:focus {
  outline: 0;
}

.form-exit-button:hover {
  transform: scale(1.4);
  transition: 0.2s ease-in-out;
}
.board-form-underline {
  display: flex;
  height: 1px;
  border: 0;
  border-top: 2px solid white;
  margin: 0.5em 0;
  margin-bottom: 26px;
  width: 280px;
}

.new-board-input {
  width: 250px;
  height: 25px;
  flex-direction: column;
  display: flex;
  background: 0;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #016283;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-bottom: 27px;
}

.new-board-input:focus {
  background: #002841;
  opacity: .7;
  transition: all .25 ease-in-out;
  z-index: 0;
  outline: 0;
}

.new-board-input:hover {
  background: black;
  opacity: .5;
  transition: all .25 ease-in-out;
}

.new-board-input::placeholder {
  color: white;
  opacity: 0.5
}
.new-board-submit {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 105px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  color:white;
  background-color: rgba(255, 255, 255, .5);
  margin-bottom: 10px;
  border: 0;
}

.new-board-submit:focus {
  outline: 0;
}

.new-board-submit:hover{
  transition: all 300ms ease-in-out;
  background-color: #002841;
  opacity: 1;
  cursor: pointer;
}
